<!doctype html>
<html lang="en" class="{{ baseStyle }}">
  {{ include "layouts/head.vto" }}

  <body class="{{ bodyStyle }}">
    {{ include "layouts/header.vto" }}
    <main class="{{ mainStyle }}">
      <div class="{{ contentStyle }}"> 
          {{ content }}
      </div>
    </main>
    {{ include "layouts/footer.vto" }}
  </body>
</html>
