<!doctype html>
<html lang="en" class="{{ overallSiteStyle }}">
  {{ include "layouts/head.vto" }}

  <body class="{{ bodyStyle }}">
    {{ include "layouts/header.vto" }}
    <main class="{{ mainStyle }}">
      {{ content }}
    </main>
    {{ include "layouts/footer.vto" }}
  </body>
</html>
